.workouts-page-container{
    position: relative;
    background-color: white;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.add-workout-button{
    background-color: rgb(0, 60, 255);
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.create-workout-button{
    background-color:aquamarine;
    color: white;
    padding: 5px 10px;
    border-style: none;
}


.workouts-container{
    position: relative;
    height: 100%;
 
    background: pink;
}

.left-view-container{
    height: 100%;
    width: 40%;
    padding: 30px;
   
    float: left;
    
}

.right-view-container{
    position: relative;
    height: 100%;
    width: 50%;
    padding: 30px;
    background-color: red;
    float: right;
}
